/* custom properties */
:root {
  /* spacings */
  --main-container-padding:calc((var(--card-logo-width) / 2) + 2rem) 2rem 2rem;
  --jobs-listing-card-padding:calc((var(--card-logo-width) / 2) + 2rem) 2rem 2rem;
  --card-content-section-gap:1.2rem;

  /* widths */
  --main-container-max-width:350px;
  --card-logo-width:60px;

  /* border radii */
  --jobs-listing-card-radius:1rem;

  /* typography */
  --ff-company-name:1.8rem;
  --ff-category-font-size:1.6rem;
}

/* header */
.header {
  background-color:var(--desaturated-dark-cyan);
}

/* main */
.container {
  max-width:var(--main-container-max-width);
  padding:var(--main-container-padding);
  margin-inline:auto;
}

/* job card */
.job__listing__card {
  padding:var(--jobs-listing-card-padding);
  background-color:var(--white);
  border-radius:var(--jobs-listing-card-radius);
  position:relative;
}

.job__listing__card::before {
  content:'';
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:4px;
  background-color:var(--desaturated-dark-cyan);
  border-top-left-radius:var(--jobs-listing-card-radius);
  border-bottom-left-radius:var(--jobs-listing-card-radius);
}

.card__logo {
  --translate-y:calc(var(--card-logo-width) * -1);

  max-width:max-content;
  position:absolute;
  top:calc(var(--card-logo-width) / 2);
  transform:translateY(var(--translate-y));
}

.card__logo img{
  width:60px;
}

.company__name {
  font-size:var(--ff-company-name);
  font-weight:700;
  color:var(--desaturated-dark-cyan);
}

.card__content__section {
  display:grid;
  gap:var(--card-content-section-gap);
}

.company-wrapper {
  --gap:1.5rem;

  gap:var(--gap);
}

.category__wrapper {
  --gap:0.8rem;

  gap:var(--gap);
}

.category__span {
  display:grid;
  place-content:center;
  font-size:var(--ff-category-font-size);
  color:var(--white);
  padding:.4rem 1rem;
  border-radius:1.3rem;
  text-transform:uppercase;
  font-weight:700;
}

.new-span {
  background-color:var(--desaturated-dark-cyan);
}

.featured-span {
  background-color:var(--very-dark-grayish-cyan);
}